<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Can Queen Attack</title>
    </head>
    <body>
        <h1>Check if queen can attack piece or not:</h1>
        <form action="/result">
          <label for="queenX">Queen X Coordinate:</label>
          <input id="queenX" name="queenX" type="text" required>
          <label for="queenY">Queen Y Coordinate:</label>
          <input id="queenY" name="queenY" type="number" required>
          <label for="pieceX">Piece X Coordinate:</label>
          <input id="pieceX" name="pieceX" type="text" required>
          <label for="pieceY">Piece Y Coordinate:</label>
          <input id="pieceY" name="pieceY" type="number" required>
          <button type="submit" class="btn btn-success" name="button">Attack!</button>
        </form>
    </body>
</html>
