<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Queen Result</title>
    </head>
    <body>
        {% if result == true %}
        <h1>IT CAN ATTACK!</h1>
        {% else %}
        <h1>It CANNOT attack! :(</h1>
        {% endif %}

    </body>
</html>
